.heading {
  grid-area: heading;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: minmax(max-content, 102.8rem) max-content;
  grid-template-rows: min-content;
  grid-template-areas: "heading switch";
  justify-content: start;
  align-items: center;

  &__title {
    grid-area: heading;
    padding-top: 0;
  }

  &__switch {
    grid-area: switch;
    justify-self: end;

    display: flex;
    align-items: center;

    .toggle-label {
      margin-right: 1rem;
    }

    .toggle-control {
      margin-bottom: 2.5rem;
    }
  }

  @media only screen and (max-width: 560px) {
    grid-template-columns: minmax(max-content, 102.8rem) max-content;
    grid-template-rows: min-content;
    grid-gap: 1.5rem;
    grid-template-areas: "heading heading" "switch switch";

    &__title {
      padding-bottom: 1.5rem;
      border-bottom: 1px solid $color-text-grey-dark;
    }

    .heading-title-dark-mode-off {
      border-bottom: 1px solid $color-text-blue;
    }

    &__switch {
      justify-self: stretch;
      justify-content: space-between;
    }
  }
}
