h1,
h2,
h3 {
  font-size: inherit;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

h3 {
  font-size: 1.2rem;
  font-weight: 700;
}
.main-title {
  font-size: 3rem;
  color: $color-text-white-dark;

  @media only screen and (max-width: 800px) {
    font-size: 2.5rem;
  }
}
.dark-mode-title-off {
  color: $color-text-dBlue;
}
.total-followers {
  font-weight: 700;
  font-size: 1.4rem;
  text-indent: 0.5px;
}

.toggle-label {
  font-weight: 700;
  font-size: 1.2rem;
  color: $color-text-grey-dark;
}

.toggle-dark-mode-off {
  color: $color-text-blue;
}

.overview {
  font-size: 2.5rem;
  color: $color-text-white-dark;

  @media only screen and (max-width: 800px) {
    font-size: 2rem;
  }
}

.overview-dark-mode-off {
  color: $color-text-blue;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: $color-text-grey-dark;
}

.attribution-dark-mode-off {
  color: $color-text-blue;
}
